.bg-black
{
	background-color: #000000;
}

.font-div
{
	width: 30%;
}
img{
	width: 100%;
	height: 46%;
}
@media only screen and (min-width:  1198px)
{
	.font-div{
		padding: 42px 0px;
	}
}


body{
	font-family: arial, helvertica sans-serif;
}
td{
	font-family: arial, helvertica sans-serif;
}
th{
	font-family: arial, helvertica sans-serif;
}